PORT=4000
MONGO_URI=mongodb+srv://aadeshgulumbe3:Pass123@placeoprep.nbz7azj.mongodb.net/?appName=placeoprep
JWT_SECRET=your_jwt_secret_here
PY_ENGINE_URL=http://localhost:5000
ONECOMPILER_API_KEY=986730a209msh966f7997c16470fp134fd6jsne05f3ca9c047