# GROQ_API_KEY=your_groq_api_key_here
# SARVAM_API_KEY=your_sarvam_api_key_here

# # Tavus AI Configuration
# TAVUS_API_KEY=your_tavus_api_key_here
# TAVUS_PERSONA_ID=your_tavus_persona_id_here
# TAVUS_REPLICA_ID=your_tavus_replica_id_here

GROQ_API_KEY=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
SARVAM_API_KEY=sk_tavltvwg_aisFCAyMP3WTAU8nmnT1geHs

TAVUS_API_KEY=ae1df52185054bc4a44ba857d77631e8
TAVUS_PERSONA_ID=pd4b0ceda195
TAVUS_REPLICA_ID=r5f0577fc829